/* font-family: 'Oswald', sans-serif; */
body {
    width: 1000px;
}

h2 {
    color: #70069e;
    font-family:"oswald", sans-serif;
    font-size: 32px;
}

p {
    font-family: "oswald", sans-serif;
    font-weight: semi-bold;
    color: #8225aa;
}
